<html> 
  <head> 

  </head> 

  <body> 
  <h1>Tweet Emotion Analysis</h1>
        <iframe src="static/graphs/polarScatterChart.html" height="600" width="600" scrolling="no" frameBorder="0">
            Alternative text for browsers that do not understand IFrames.
        </iframe>

        <iframe src="static/graphs/pos_neg_pie.html" height="300" width="300" scrolling="no" frameBorder="0" align="top">
            Alternative text for browsers that do not understand IFrames.
        </iframe>
  </body> 
</html>